@import './variables.scss';

.contact {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $sections-separation;
  height: auto;
  width: 100%;

  &_container{
    max-width: $max-width;
    width: $max-width;
    display: flex;
    flex-direction: column;
    margin-bottom: $sections-separation;
  }
  
  &_title {
    display: flex;
    width: 100%;
    align-items: flex-end;

    & h2 {
      margin: 0 .5rem 0 0;
      text-shadow: 0px 0px $neon-blur $color-white;
    }
  }

  &_line {
    background-color: $color-white;
    height: $stroke-width;
    border-radius: 1rem;
    border: none;
    margin-bottom: .3rem;
    flex-grow: 1;
    box-shadow: 0px 0px $neon-blur $color-white;
  }

  &_double {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* Divide el espacio en dos columnas iguales */
    gap: 1.5rem;
    width: 100%;

    & input {
      height: 2rem;
      border: .05rem solid $color-white;
      border-radius: .5rem;
      padding: .3rem .8rem;
      background: transparent;
      background-image: linear-gradient(to top, $color-violet, transparent, transparent);
      color: $color-white;
      outline: none;
      font-size: $text-size;
      font-family: 'Satoshi-Medium', sans-serif!important;

      &::placeholder {
        color: $color-white;
      }
    }
  }

  &_send {
    margin-top: 1.2rem;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    width: 100%;

    & textarea {
      width: calc(100% - (.8rem * 2));
      border: .05rem solid $color-white;
      border-radius: .5rem;
      padding: .3rem .8rem;
      background: transparent;
      background-image: linear-gradient(to top, $color-violet, transparent, transparent);
      color: $color-white;
      outline: none;
      height: 6rem;
      font-size: $text-size;
      resize: none;
      font-family: 'Satoshi-Medium', sans-serif!important;

      &::placeholder {
        color: $color-white;
      }
    }

    & button {
      border: .1rem solid $color-white;
      background-color: transparent;
      color: $color-white;
      outline: none;
      scale: 1;
      transition: 0.3s;
      border-radius: .5rem;
      padding: .5rem .5rem;
      font-size: 1rem;
      cursor: pointer;
      font-family: 'Satoshi-Medium', sans-serif!important;
      font-size: $text-size;
      margin-top: 1.2rem;
      width: 5rem;
    
      &:hover {
        scale: 1.05;
      }
    
      &:focus {
        scale: 1.05;
      }
    }
  }

  &_logo {
    width: 7.5rem;
    margin-top: 1.5rem;

    &_container {
      display: flex;
      justify-content: center;
      width: 100%;
    }
  }
}