.header {
  margin: 0 auto;
  padding: var(--space-4) var(--size-gutter);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.link {
  font-size: var(--font-sm);
  text-decoration: none;
}