@import './variables.scss';
@import './font/satoshi.css';

html {
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  padding: 0;
  color: $color-white;
  font-family: 'Satoshi-Medium', sans-serif!important;
  font-weight: normal!important;
  text-rendering: optimizeLegibility;
}

.index {
  text-decoration: none;
}