@import './variables.scss';

.projects {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: $sections-separation;
  height: auto;
  width: 100%;

  &_container{
    max-width: $max-width;
    width: $max-width;
    display: flex;
    flex-direction: column;

    & article {
      display: flex;
      width: 100%;
      position: relative;
      margin-bottom: $sections-separation;
      margin-top: 3rem;
    }
  }

  &_title {
    display: flex;
    width: 100%;
    align-items: flex-end;

    & h2 {
      margin: 0 .5rem 0 0;
      text-shadow: 0px 0px $neon-blur $color-white;
    }
  }

  &_line {
    background-color: $color-white;
    height: $stroke-width;
    border-radius: 1rem;
    border: none;
    margin-bottom: .3rem;
    flex-grow: 1;
    box-shadow: 0px 0px $neon-blur $color-white;
  }

  &_image {
    width: 100%;
    border-radius: .5rem;
    filter: brightness(0.5) saturate(1.2) contrast(1.2);

    &_container {
      width: 40%;
    }

    //&_left {
      //background-color: yellow;
    //}
  }

  &_data {
    &_container {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      width: 60%;
    }

    &_title { //type and title right
      margin-right: 1rem;
      width: calc(100% - 8rem);
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      padding-top: 2.5rem;
      padding-right: 8rem;
      padding-bottom: .8rem;

      & p {
        color: $color-yellow;
        font-size: 1rem;
      }

      & > * {
        margin: 0 0 .5rem;
      }

      &_left { //type and title left
        margin-left: 1rem;
        width: calc(100% - 8rem);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        padding-left: 8rem;
        padding-top: 2.5rem;
        padding-bottom: .8rem;

        & p {
          color: $color-yellow;
          font-size: 1rem;
        }

        & > * {
          margin: 0 0 .5rem;
        }
      }
    }

    &_description { //description right
      background-color: $color-violet-glass;
      backdrop-filter: blur($blur-filter);
      border-radius: .5rem;
      position: absolute;
      right: 0;
      top: 7.6rem;
      width: calc(68% - 2rem);
      //height: calc(8rem - 3rem);
      padding: 1rem 1.5rem;
      text-align: right;

      & p {
        margin: 0;
        font-size: calc($text-size - 0.06rem);
      }

      &_left { //description left
        background-color: $color-violet-glass;
        backdrop-filter: blur($blur-filter);
        border-radius: .5rem;
        position: absolute;
        left: 0;
        top: 7.6rem;
        width: calc(68% - 2rem);
        //height: calc(8rem - 3rem);
        padding: 1rem 1.5rem;
        text-align: left;

        & p {
          margin: 0;
          font-size: calc($text-size - 0.06rem);
        }
      }
    }

    &_skills { //skills right
      display: flex;
      list-style: none;
      padding: 0;
      margin: 0;
      margin-bottom: 1.5rem;
      padding-left: 2rem;

      & li {
        margin-right: 1.2rem;
        background-image: linear-gradient(to top, $color-violet, transparent);
        border-bottom: .1rem solid $color-white;
      }

      &_left { //skills left
        display: flex;
        list-style: none;
        padding: 0;
        margin: 0;
        margin-bottom: 1.5rem;
        
        & li {
          margin-left: 1.2rem;
          background-image: linear-gradient(to top, $color-violet, transparent);
          border-bottom: .1rem solid $color-white;
        }
      }
    }

    &_links {
      color: $color-white;
      display: flex;
      width:  calc(100% - 2rem);
      padding-left: 2rem;

      & a {
        color: $color-white;
        margin-right: 1.2rem;
        outline: none;
        scale: 1;
        transition: 0.3s;
        cursor: pointer;
      
        &:hover {
          scale: 1.1;
        }
      
        &:focus {
          scale: 1.1;
        }
      }

      &_left{
        color: $color-white;
        display: flex;
        width:  calc(100% - 2rem);
        justify-content: flex-end;
        padding-right: 2rem;

        & a {
          color: $color-white;
          margin-right: 1.2rem;
          outline: none;
          scale: 1;
          transition: 0.3s;
          cursor: pointer;
        
          &:hover {
            scale: 1.1;
          }
        
          &:focus {
            scale: 1.1;
          }
        }
      }
    }
  }

  &_art {
    text-decoration: none;

    &_reverse {
      flex-direction: row-reverse;
    }
  }
}

@media (max-width: $tablet-width) {
  .projects {
    &_container {
      max-width: calc(100% - (2.2rem * 2));
      width: calc(100% - (2.2rem * 2));
      padding: 0 2.2rem;
    }

    &_data {
      &_container {
        width: 65%;
      }

      &_title {
        padding-top: 1rem;
        margin-bottom: 9rem;

        &_left {
          padding-top: 1rem;
          margin-bottom: 9rem;
        }
      }

      &_description {
        width: calc(85% - 2rem);
        top: 5.6rem;

        &_left {
          width: calc(85% - 2rem);
          top: 5.6rem;
        }
      }
    }

    &_image {
      &_container {
        width: 35%;
        align-items: center;
        justify-content: center;
        height: auto;
        display: flex;
      }
    }
  }
}