//common variables
$titles-size: 15rem;
$color-yellow: #FFD600;
$color-violet: #1F1924;
$color-violet-glass: rgba(31, 25, 36, 0.7);
$color-blue: #0B0F1D;
$color-white: #FFFFFF;
$opacity-glass: 70%;
$blur-filter: 2.5px;
$sections-separation: 5rem;
$stroke-width: .13rem;
$text-size: 1.1rem;
$social-icons-size: 1.5rem;
$neon-blur: 1rem;

//hero section
$name-size: 2.2rem;
$job-position-size: 1.5rem;

//projects section
$img-project: 7rem;
$project-type-size: .9rem;
$project-title-size: 2rem;
$project-technologies-size: 1.5rem;
$project-description-height: 8rem;

//contact section
$inputs-width: calc(50% - 1rem);

//footer section
$footer-font-size: 1rem;

//design variables
$max-width: 55rem;

//responsive variables
$tablet-width: 900px;
$mobile-width: 600px;
$big-tablet-with: 1200px;