//common variables
$titles-size: 15rem;
$color-yellow: #FFD600;
$color-violet: #1F1924;
$color-blue: #0B0F1D;
$color-white: #FFFFFF;
$opacity-glass: 70%;
$sections-space: 5rem;
$stroke-width: .5rem;
$text-size: 1.4rem;
$social-icons-size: 1.5rem;

//hero section
$name-size: 20rem;
$job-position-size: 17rem;

//projects section
$img-project: 7rem;
$project-type-size: .9rem;
$project-title-size: 2rem;
$project-technologies-size: 1.5rem;
$project-description-height: 8rem;

//contact section
$inputs-width: calc(50% - 1rem);

//footer section
$footer-font-size: 1rem;

//design variables
$max-width: 50rem;